@use "../utilitaires/variables";

.formulaire {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 98%;
    margin: 0 auto;
    padding: 1.5rem 1.5rem 3.5rem 1.5rem;
    margin: 2.5rem auto;
    height: 100%;
    border-radius: 1rem;
    background-color: variables.$vert-pale;
    box-shadow: variables.$ombreEffetFormulaire;

    @media(min-width: variables.$desktop) {
        width: 80%;
        padding: 3.5rem 3.5rem 7.5rem 3.5rem;
    }
}

.etapeDon {
    margin-bottom: 1.5rem;
    width: 70%;
    margin: 0 auto;

    @media(min-width: variables.$desktop) {
        width: 60%;
    }
}

.etape2,
.etape4 {
    width: 70%;
    margin: 0 auto;

    & fieldset {
        border: none;
        display: block;

        &>legend {
            width: 100%;
            padding: 1.5rem 0;
            text-align: center;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-items: end;
            gap: 1rem;

            &>span:first-of-type {
                white-space: nowrap;
            }

            &>span:last-of-type {
                width: 100%;
                flex-grow: 1;
                height: .4rem;
                background-color: variables.$vert-fonce;
                border-radius: 1rem;
            }

        }
    }

    @media(min-width: variables.$desktop) {
        width: 60%;
    }
}

.etape3 {
    padding: 1.5rem;
    width: 60%;
    margin: 0 auto;

    @media(min-width: variables.$desktop) {
        width: 60%;
    }
}