@use "../utilitaires/variables";
.formulaire{
    width:100%;
    padding: 1.5rem;
    margin: 2.5rem auto;
    height: 700px;
    border-radius: 1rem ;
    background-color: variables.$vert-pale;
    box-shadow: variables.$ombreEffetFormulaire;
    display: flex;
    flex-direction: column;
}