// @use "sass:color";
@use "../utilitaires/variables";

/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/

// .bouton {
//   background-color: variables.$vertLime;
//   border-radius: 18px;
//   color: black;
//   padding: 0.5em 1em;
//   text-decoration: none;
//   &:after {
//     content: "»";
//     margin-left: 0.4em;
//   }
//   &--hover {
//     background-color: color.adjust(variables.$vertLime, $alpha: -0.25);
//   }
//   &--active {
//     background-color: color.adjust(variables.$vertLime, $alpha: -0.5);
//   }
//   &--inverse {
//     background-color: white;
//     border: 2px solid variables.$vertLime;
//     &--hover {
//       border-color: color.adjust(variables.$vertLime, $alpha: -0.25);
//     }
//     &--active {
//       border-color: color.adjust(variables.$vertLime, $alpha: -0.5);
//     }
//   }
// }
.typeDeDons{
    width: 90%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    & > li:first-of-type span{
        border-top-left-radius: 1.3rem;
        border-bottom-left-radius: 1.3rem;
    }
    & > li:last-of-type span{
        border-top-right-radius: 1.3rem;
        border-bottom-right-radius: 1.3rem;
    }
}
input[name="don"]+span {
    display: block;
    padding: 1.5rem;
    width: 100%;
    height: 50%;
    background-color: variables.$vert;
    color: white;

}
input[name="don"]:checked+span {
    background-color: variables.$vert-clair;
    border: .4rem solid variables.$vert-contour;

}