@use "../utilitaires/variables";
/**
* @author Elma Atindehoue - 2233755@csfoy.ca
* @todo Styliser les champs input
*/

/**
 * ----------------------------
 * TABLE DES MATIERES - CHAMP INPUT
 * ----------------------------
 */

.champLong{
    @media(min-width: variables.$desktop){
        width:90%;
    }
}
.champMoyen{
    @media(min-width: variables.$desktop){
        width:70%;
    }
}
.champCourt{
    @media(min-width: variables.$desktop){
        width:30%;
    }
}