@use "../utilitaires/variables";

.champLong{
    @media(min-width: 30rem){
        width:90%;
    }
}
.champMoyen{
    @media(min-width: 30rem){
        width:70%;
    }
}
.champCourt{
    @media(min-width: 30rem){
        width:30%;
    }
}