@use "../utilitaires/variables";
/**
* @author Elma Atindehoue - 2233755@csfoy.ca
* @todo Styliser la naviagtion secondaire (navigation des étapes)
*/

/**
 * ----------------------------
 * TABLE DES MATIERES - NAVIGATION SECONDAIRE (NAVIGATION DES ÉTAPES)
 * ----------------------------
 */

.menu {
    width: 100%;
    font-size:1.6rem;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

    @media(min-width: variables.$desktop) {
        width: 100%;
        margin: 0 auto;
    }

    &__etape {
        display: flex;
        flex-direction: column;
        flex: 2 0 auto;
    }

    &__lien {

        &--active {
            color: green;
            border-bottom: 1rem solid variables.$vert-clair;

        }

        &--inactive {
            cursor: not-allowed;
            color: black;
            border-bottom: 1rem solid variables.$vert;

        }

        &--inactive:hover {
            cursor: not-allowed;
            color: rgb(247, 0, 0);

        }

        &--inactive:active {
            cursor: not-allowed;
            color: black;

        }

        &__span {
            border-top-right-radius: .3rem;
            border-bottom-right-radius: .3rem;
            position: relative;
            top: 4.8rem;
            left: -1rem;

            @media(min-width: variables.$desktop) {
            top: 5.2rem;
            }
        }
    }
    &__lien:link, &__lien:hover, &__lien:active, &__lien:visited{
        color:black;
        font-size: 1.9rem;
    }

}

.enCours {
    border-bottom: 1rem solid variables.$vert-jaune;
}

.navigation {

    &--Etapes{
        padding: 0 1rem;
    
        & > span{
            display: block;
            width: 100%;
            height : 10px;
            background-color: variables.$vert-fonce;
            position: relative;
            bottom: 4px;
            left: -10px;
            z-index: -1;
        }
    
        @media(min-width: variables.$desktop) {
            padding: 2rem 1rem 2rem 1rem;
            width: 70%;
            margin: 0 auto 4rem auto;
    
    
        & > span{
            bottom: -16px;
            left: -10px;
        }
        }
    }
}